* {
  font-family: sans-serif;
}

body, html {
  padding: 0px;
  margin: 0px;
}

header {
  padding-top: 25px;
  background: #333;
  color: #ddd;
  padding-bottom: 15px;
}

header h1 {
  font-size: 3.5em;
  text-align: center;
  margin-bottom: 5px;
}

header h3 {
  color: #bbb;
  margin-top: 5px;
  text-align: center;
  font-size: 2em;
}

header p {
  margin: auto;
  font-size: 1em;
  max-width: 350px;
  text-align: left;
  background: #555;
  padding: 15px;
}

.link-list {
  text-align: center;
  list-style-type: none;
}
.link-list li {
  display: inline-block;
}
.link-list a {
  display: inline-block;
  background: #ddd;
  border-bottom: limegreen 2px solid;
  padding: 5px;
  margin: 5px;
  width: 100px;
  text-decoration: none;
  text-align: center;
  color: #222;
  font-size: 1.25em;
}
.link-list a:hover {
  background: #aaa;
}

#portfolio > h1 {
  font-size: 2em;
  text-align: center;
}
.portfolio-list {
  display: table;
  margin: auto;
  max-width: 850px;
}
.portfolio-list li{
  display: inline-block;
  margin: 10px;
  padding: 10px;
  width: 225px;
  height: 350px;
  background: #eee;
  vertical-align: top;
}
.portfolio-list li:hover {
  background: #ddd;
}
