* {
  font-family: sans-serif;
}

body, html {
  padding: 0px;
  margin: 0px;
}

header {
  padding-top: 25px;
  background: #333;
  color: #ddd;
  padding-bottom: 15px;
}

header h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 5px;
}

header h3 {
  color: #bbb;
  margin-top: 5px;
  text-align: center;
  font-size: 1.5em;
}

header p {
  margin: auto;
  font-size: 1em;
  max-width: 325px;
  text-align: left;
  background: #555;
  padding: 15px;
  border-bottom: solid deepskyblue 1px;
  border-top: solid deepskyblue 1px;
}

.back-link {
  position: absolute;
  right: 0;
  display: inline-block;
  color: #fff;
  background: #333;
  padding: 10px 25px;
}
.back-link:hover {
  background: #666;
  color: #ddd;
}

.link-list {
  text-align: center;
  list-style-type: none;
}
.link-list li {
  display: inline-block;
}
.link-list a {
  display: inline-block;
  background: #ddd;
  border-bottom: lime 1px solid;
  border-top: lime 1px solid;
  padding: 5px;
  margin: 5px;
  width: 100px;
  text-decoration: none;
  text-align: center;
  color: #222;
  font-size: 1.25em;
}
.link-list a:hover {
  background: #aaa;
}

#projects > h1 {
  font-size: 2em;
  text-align: center;
}
.portfolio-list {
  display: table;
  margin: auto;
  max-width: 850px;
}
.portfolio-list li{
  display: inline-block;
  margin: 10px;
  padding: 10px;
  width: 225px;
  height: 350px;
  background: #eee;
  vertical-align: top;
}
.portfolio-list li:hover {
  background: #ddd;
}
.portfolio-list h1 {
  text-align: center;
}
.portfolio-list img {
  display: block;
  margin: auto;
  max-width: 200px;
}
.portfolio-list a {
  color: #000;
}
.portfolio-list a:hover {
  color: #333;
}
.portfolio-list li a:nth-of-type(2) {
  vertical-align: text-bottom;
}

#images {
  width: 850px;
  margin: auto;
}
#images > h1 {
  font-size: 2em;
  text-align: center;
}
.image-list {
  text-align: center;
}
.image-list li {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background: #666;
}
.image-list li:hover {
  background: #999;
}
.image-list a {
  border: 0px;
}
.image-list img {
  padding: 5px;
  max-height: 100px;
}
.image-list p {
  color: #fff;
  padding: 3px;
  margin: 3px;
}
